<div class="footer">
  <div class="container footer-item">
  <br>
  <%= link_to '・利用規約', home_terms_path, class: "privacy-menu"%>　　
  <%= link_to '・プライバシーポリシー', home_privacy_path, class: "privacy-menu" %>
  <p class="copy_write">©️ StandUpEngineers　2021</p>
  </div>
</div>