 <div class="modal" id="textmodal" tabindex="-1" role="dialog" aria-labelledby="textmodallLabel" aria-hidden="true">
      <!-- モーダルのダイアログ本体 -->
      <div class="modal-dialog" role="document">
        <!-- モーダルのコンテンツ部分 -->
        <div class="modal-content">
          <!-- モーダルのヘッダー -->
          <div class="modal-header">
            <!-- モーダルのタイトル -->
            <h5 class="modal-title" id="textmodallLabel">アプリの使い方</h5>
            <!-- 閉じるアイコン -->
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
             <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <!-- モーダルの本文 -->
          <div class="modal-body">
            <div class="container">
              <div class="row">
                <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">
                  <p>①QRコードを読み取り"友達追加"をしてください</p>
                  <p>②lineからログインしてください</p>
                  <p>③アプリを起動するボタンをクリックしてください</p>
                  <p>④動画を提供して欲しい間隔を選択してください(30分か60分の二択です)</p>
                  <p>⑤見たい動画のカテゴリーを選択してください</p>
                  <p>⑥アプリスタートボタンをクリックしてください<p>
                  <p>⑦60分を選択した方は毎時０分に、30分を選択した方は毎時0分と30分に選択したカテゴリーのyoutube動画がランダムでlineに通知されます。</p>
                </div>
              </div>
            </div>
          </div>
     </div>
    </div>
  </div>
</div>