 <div class="modal" id="textmodal" tabindex="-1" role="dialog" aria-labelledby="textmodallLabel" aria-hidden="true">
      <!-- モーダルのダイアログ本体 -->
      <div class="modal-dialog" role="document">
        <!-- モーダルのコンテンツ部分 -->
        <div class="modal-content">
          <!-- モーダルのヘッダー -->
          <div class="modal-header">
            <!-- モーダルのタイトル -->
            <h5 class="modal-title" id="textmodallLabel">アプリの使い方</h5>
            <!-- 閉じるアイコン -->
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
             <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <!-- モーダルの本文 -->
          <div class="modal-body">
            <div class="container">
              <div class="row">
                <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">
                  
                </div>
              </div>
            </div>
          </div>
     </div>
    </div>
  </div>
</div>