<div id="collapseTwo" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                <br>
                <h6>１・LINEでログインし、友だち追加をしてください</h6>
                <P>※友だち追加をして頂かないとLINE通知ができません</p>　　　　　　　
                <h6>２・通知の間隔と見たい動画のカテゴリーを選択してアプリスタート！</h6>
                <p>※動画の通知は "30分"を選択すると毎時0分と30分に "60分"を選択すると毎時0分に届きます</p>
                <br>
                <h6>３・通知を止める場合は”アプリを終了する”ボタンをクリックして下さい</h6>
            </div>