<div id="collapseTwo" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                <br>
                <h6>１・LINEでログインし、友だち追加をしてください</h6>
                <P>※友だち追加をして頂かないとLINE通知ができません</p>　　　　　　　
                <h6>２・がんばる時間（仕事、勉強する時間）と休憩時間、見たい動画のカテゴリーを選択してアプリスタート！</h6>
                <p>※<a href="https://ja.wikipedia.org/wiki/%E3%83%9D%E3%83%A2%E3%83%89%E3%83%BC%E3%83%AD%E3%83%BB%E3%83%86%E3%82%AF%E3%83%8B%E3%83%83%E3%82%AF">ポモドーロテクニック</a>を活用してアプリを使用する場合　”がんばる時間　25分”　”休憩時間　５分”　と設定してください</p>
                <h6>これだけであなたが休憩したいタイミングで、体を動かしたくなるような動画をLINEに通知します!!</h6>
                <br>
                <h6>３・通知を止める場合は”アプリを終了する”ボタンをクリックして下さい</h6>
            </div>