<div class="site_bottom">
    <div class="site_explanation">
       
    <div class="accordion" id="accordion">
      <!-- カード01 -->
       
        <h5 class="btn btn-info"  data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
         StandUpEngineersとは？
        </h5>
        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
          <p>デスクワークや昨今増えつつあるリモートワーク</p>
          <p>「休憩を取りながら作業をした方が効率が上がる」</p>
          <p>「運動した方が脳に酸素がまわってアイデア出がて来る」</p>
          <p>それは分かってはいるのに休憩のタイミングが掴めずズルズルと仕事をしてしまい、結果的に仕事が捗らないで終わってしまう</p>
          <p>そんなエンジニアのために、休憩と運動するタイミングを提供するアプリです</p> 
          </div>
        </div>
        <div>
         <h5 class="btn btn-info"  data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseOne">
          アプリの使い方
         </h5>
         </div>
         <div id="collapseTwo" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
           <p>①QRコードを読み取り"友達追加"をしてください</p>
           <p>②lineからログインしてください</p>
           <p>③アプリを起動するボタンをクリックしてください</p>
           <p>④動画を提供して欲しい間隔を選択してください(30分か60分の二択です)</p>
           <p>⑤見たい動画のカテゴリーを選択してください</p>
           <p>⑥アプリスタートボタンをクリックしてください<p>
           <p>⑦60分を選択した方は毎時０分に、30分を選択した方は毎時0分と30分に選択したカテゴリーのyoutube動画がランダムでlineに通知されます。</p>
         </div>


          <% if @current_user&.clock.present? %>
           <div>
            <%= link_to 'アプリを終了する', user_clocks_path(@current_user), method: :delete, class: 'btn btn-success'%>
            </div>
          <% elsif  @current_user %>
             <div>
                <a class="btn btn-success" data-toggle="modal" data-target="#exampleModal">アプリスタート</a>
             </div>
             <div>
                <%= link_to "ログアウト", user_path(@current_user), method: :delete, class: 'btn btn-primary'%>
             </div>
          <%else%>
             <br>
             <p>⬇️友達追加はこちら⬇️</p>
             <%= image_tag "460ervgc.png", size: '150x150' %>
             <br>
             <div class="line_login">
              <%= link_to image_tag("btn_login_hover.png"), ENV['LINE_LOGIN']%>
            </div>
          <% end %>
          <br>
    </div>
</div>

