<div class="site_bottom">
    <div class="site_explanation">
       <% unless @current_user.present? %>

         <%= render 'shared/site_introduction' %>
         
       <% end %>

          <% if @current_user&.clock.present? %>

             <%= render 'shared/started_app' %>

          <% elsif  @current_user %>
             
             <%= render 'shared/set_clock' %>
          
          <%else%>

             <br>
             <div class="line_login">
               <%= link_to image_tag("btn_login_hover.png"), ENV['LINE_LOGIN'],id: "test" %>
             </div>

          <% end %>
       <br>
    </div>
</div>
