<div>
  <h4>アプリ起動中です！</h4>
  <p>次の動画の通知を楽しみにお待ちください！</p>
    <div>
        <%= image_tag "gift.png", size: "200x150"%>
    </div>
   <%= link_to 'アプリを終了する', user_clocks_path(@current_user), method: :delete, class: 'btn btn-info'%>
</div>